.cursor-base {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
}

@media screen and (max-width: 768px) {
  div .cursor-base {
    display: none;
  }
}

#smokeCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Allow clicks to pass through */
  z-index: 999; /* Adjust based on your page content */
}

/* Simple "smoke" animation */
@keyframes smokeAnimation {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.smoke-visible {
  animation: smokeAnimation 2s forwards;
}

button,
input:hover .cursor {
  background: none;
}

#hero-section-cursor {
  position: absolute;
  pointer-events: none; /* Ignore the cursor element in mouse events */
  z-index: 10000; /* Ensure it is above other items on the page */
  width: 20px; /* The size of the custom cursor */
  height: 20px; /* The size of the custom cursor */
  border-radius: 50%; /* Make it round */
  background: #000; /* Example color */
  transform: translate(-50%, -50%); /* Center it around the cursor */
  display: none; /* Hide it by default */
}
