/* main-styles ------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  color: var(--maintext-color);
  /* margin: 0;
  box-sizing: border-box; */
}

.just-the-page {
  margin: 0;
  padding: 0;
  /* position: relative; */
}

/* ------------------------------------------- */

/* hero-section styles */
@media screen and (min-width: 768px) {
  .hero-section-space {
    height: 25%;
  }

  .hero-section-content {
    height: 45%;
  }

  .hero-button-section {
    height: 30%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 5px;
  }

  .hero-wrap {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .hero-section-space {
    height: 15%;
  }

  .hero-section-content {
    height: 60%;
  }

  .hero-button-section {
    height: 25%;
  }

  .hero-button-section {
    width: 100% !important;
    padding-bottom: 50px !important;
    display: flex;
    justify-content: space-evenly; /* or 'space-around' based on your preference */
  }

  .hero-wrap {
    height: 95vh;
  }
}

.hero-section {
  display: flex; /* Makes the section a flex container */
  flex-direction: column; /* Stacks the content vertically */
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: -12vh;
  scroll-behavior: smooth;
  /* flex-basis: va
  r(--section-flex-basis-15); */
}

.hero-wrap {
  display: flex; /* Makes the section a flex container */
  flex-direction: column; /* Stacks the content vertically */
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.hero-section-content {
  /* width: 80%; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.hero-section-content h1 {
  text-shadow: 0.5px 0.5px 1px var(--maintext-color);
}

.hero-button-section {
  display: flex;
  align-items: center;
}

.hero-section-content h1,
p {
  text-transform: uppercase; /* Uppercase text */
}

/* Adjusted hero-section styles */
.hero-section-content h1 {
  color: var(--maintext-color);
  font-family: var(--quinary-font); /* Example: 'Oswald' font */
  font-size: var(--hero-font-size);
  line-height: 0.75;
  margin: 1rem 0 1.5rem 0; /* Reduced bottom margin of the h1 to bring it closer to the paragraph */
  text-transform: uppercase;
  font-weight: 200;
}

.hero-section-content p {
  color: var(--maintext-color);
  font-family: var(--secondary-font); /* Example: 'Open Sans' font */
  font-size: var(--hero-p-font-size);
  line-height: var(--primary-line-height);
  margin-top: 0.5rem; /* Reduced top margin of the paragraph to bring it closer to the h1 */
  text-transform: uppercase;
  margin: 0 auto;
  align-self: center;
  padding-bottom: 30px;
}

/* Ensures hero content is above the custom cursor and animations */
.hero-wrap,
.hero-section-content,
.hero-section-content h1,
.hero-section-content p,
.orb-cursor {
  position: relative;
  z-index: 2; /* Adjust as needed to ensure it's above .cursor-base and .media-expand */
}

/* Assuming .cursor-base and .media-expand should be below hero content */
.cursor-base,
.media-expand {
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .hero-section-content p {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .hero-section-content p {
    width: 60%;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@keyframes expandEffect {
  0% {
    width: 240px;
    height: 140px;
    border-radius: 70px;
    cursor: pointer;
    background: url("../image/meoncomp.jpg") no-repeat center center / cover; /* Ensures image covers at the start */
  }
  15% {
    width: 240px;
    height: 140px;
    border-radius: 70px;
    cursor: auto;
    top: 75%;
    background: url("../image/meoncomp.jpg") no-repeat center center / cover; /* Ensures image covers at the start */
  }
  15% {
    width: 240px;
    height: 140px;
    border-radius: 70px;
    cursor: auto;
    top: 65%;
    background: url("../image/meoncomp.jpg") no-repeat center center / cover; /* Ensures image covers at the start */
  }
  25% {
    width: 240px;
    height: 140px;
    border-radius: 70px;
    cursor: auto;
    top: 50%;
    background: linear-gradient(
        var(--transparent-black3),
        var(--transparent-black3)
      ),
      url("../image/meoncomp.jpg") no-repeat center center / cover; /* Ensures image covers with overlay */
  }
  50%,
  60% {
    width: 50vw;
    height: 50vh;
    border-radius: 0;
    opacity: 1;
    cursor: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
        var(--transparent-black2),
        var(--transparent-black2)
      ),
      url("../image/meoncomp.jpg") no-repeat center center / cover; /* Ensures image covers with overlay */
    background-size: cover; /* This ensures that the image covers the element */
  }
  60%,
  80% {
    width: 75vw;
    height: 75vh;
    border-radius: 0;
    opacity: 1;
    cursor: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
        var(--transparent-black1),
        var(--transparent-black1)
      ),
      url("../image/meoncomp.jpg") no-repeat center center / cover; /* Ensures image covers with overlay */
    background-size: cover; /* This ensures that the image covers the element */
    background-size: cover; /* This ensures that the image covers the element */
  }
  80%,
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
        var(--transparent-black),
        var(--transparent-black)
      ),
      url("../image/meoncomp.jpg") no-repeat center center / cover; /* Ensures image covers with overlay */
    background-size: cover; /* This ensures that the image covers the element */
    background-size: cover; /* This ensures that the image covers the element */
  }
}

.media-expand {
  position: fixed;
  left: 50%;
  width: 240px;
  height: 140px;
  border-radius: 70px;
  animation: expandEffect linear both 0.1s;
  animation-timeline: scroll();
  animation-range: cover 0% cover 100%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .media-section {
    height: 100vh;
    width: 100vw;
    top: 40%; /* Position it halfway down the viewport */
    left: 50%; /* Position it halfway across the viewport */
  }

  .media-section .media-expand {
  }
}

@media screen and (max-width: 768px) {
  .media-expand {
    width: 200px; /* Adjust based on mobile design */
    height: 110px; /* Adjust based on mobile design */
    border-radius: 55px; /* Adjust to maintain aspect ratio */
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Ensure it does not block interaction */
    transition: opacity 0.5s ease, visibility 0.5s;
  }

  .media-section {
    height: 100vh;
    width: 100vw;
    top: 40%; /* Adjust based on your design needs */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
  }

  /* Additional styles for the animation and visibility toggle might go here */
}