/* main-styles ------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  color: var(--maintext-color);
  /* margin: 0;
  box-sizing: border-box; */
}

.just-the-page {
  margin: 0;
  padding: 0;
  /* position: relative; */
}

/* ------------------------------------------- */

/* hero-section styles */
@media screen and (min-width: 768px) {
  .hero-section-space {
    height: 25%;
  }

  .hero-section-content {
    height: 45%;
  }

  .hero-button-section {
    height: 30%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 5px;
  }

  .hero-wrap {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .hero-section-space {
    height: 15%;
  }

  .hero-section-content {
    height: 60%;
  }

  .hero-button-section {
    height: 25%;
  }

  .hero-button-section {
    width: 100% !important;
    padding-bottom: 50px !important;
    display: flex;
    justify-content: space-evenly; /* or 'space-around' based on your preference */
  }

  .hero-wrap {
    height: 95vh;
  }
}

.hero-section {
  display: flex; /* Makes the section a flex container */
  flex-direction: column; /* Stacks the content vertically */
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 200vh;
  margin-top: -12vh;
  /* flex-basis: va
  r(--section-flex-basis-15); */
}

.hero-wrap {
  display: flex; /* Makes the section a flex container */
  flex-direction: column; /* Stacks the content vertically */
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.hero-section-content {
  /* width: 80%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hero-section-content h1 {
  text-shadow: 0.5px 0.5px 1px var(--maintext-color);
}

.hero-button-section {
  display: flex;
  align-items: center;
}

.hero-section-content h1,
p {
  text-transform: uppercase; /* Uppercase text */
}

/* Adjusted hero-section styles */
.hero-section-content h1 {
  color: var(--maintext-color);
  font-family: var(--quinary-font); /* Example: 'Oswald' font */
  font-size: var(--hero-font-size);
  line-height: 0.75;
  margin: 1rem 0 1.5rem 0; /* Reduced bottom margin of the h1 to bring it closer to the paragraph */
  text-transform: uppercase;
  font-weight: 200;
}

.hero-section-content p {
  color: var(--maintext-color);
  font-family: var(--secondary-font); /* Example: 'Open Sans' font */
  font-size: var(--hero-p-font-size);
  line-height: var(--primary-line-height);
  margin-top: 0.5rem; /* Reduced top margin of the paragraph to bring it closer to the h1 */
  text-transform: uppercase;
  margin: 0 auto;
  align-self: center;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero-section-content p {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .hero-section-content p {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
/* -------------------------------------------------------------------- */

@keyframes expandEffect {
  0%,
  25% {
    width: 240px;
    height: 140px;
    border-radius: 70px;
    bottom: -30px;
    opacity: 1;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  50% {
    width: 25%;
    height: 25%;
    border-radius: 70px;
    bottom: -30px;
    opacity: 1;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  75% {
    width: 40%;
    height: 40%;
    border-radius: 30px;
    bottom: 0;
    opacity: 1;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  85% {
    width: 60%;
    height: 60%;
    border-radius: 30px;
    bottom: 0;
    opacity: 1;
    transform: translate(-50%, -10%);
  }
  100% {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    border-radius: 0;
    bottom: 0;
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}

.media-expand {
  background: url("../image/meoncomp.jpg") no-repeat center center / cover;
  position: fixed;
  left: 50%;
  animation: expandEffect linear both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 100%;
}

@media screen and (max-width: 768px) {
  .media-section {
    height: 100vh;
    width: 100vw;
    top: 40%; /* Position it halfway down the viewport */
    left: 50%; /* Position it halfway across the viewport */
  }

  .media-section .media-expand {
  }
}
